@use'mixin';
@use'extend';
@use'variable';





footer{
    @extend .FooterCito;
    section{
        ul{
            @include U-L(flex, column, 3px, center, 3%, 1.5em, none, none);
        }
        ul{
            li{                                              //seccion lista-menu
                a{
                    font-size: $f-size;
                    text-decoration: $decoration;                  
                    color: $color;
                }
            }
        }
        }
        section{
                div{
                    h3{
                        font-size: $h-tres;
                    } 
                    img{
                        width: $redes;
                        height: $redes;
                        
                    }                                         //seccion-redes
                }

            div{
                @include sec-div(flex, row, 10px, center, 5px);          
            }
        }
        .ubi{
            div{
                @extend .Ubicacion;
                
                h4{                              
                                                               //seccion ubicacion
                    font-size: $h-tres;
                }

                }
                
            }
        }



