$ancho: 380px;
$fuente: 1rem;
$right:10px;
$left: 10px;
$display: inline-block;
$icon-size: 50px;
$groove: groove;
$background: rgb(225, 218, 223);
$decoration: none;
$h-tres: 1.5rem;
$p-item: stretch;
$wh: 600px;
$fe: 20px;
$column: repeat(2, 1fr);
$rows: 1fr;
$gap: 10px;
$margin: 3%;
$j-items: center;
$c-gap: 25px;
$f-column: repeat(3, 1fr);
$f-rows: 1fr;
$f-gap: 20px;
$f-top:5%;
$f-size: 15px;
$whdos: 800px;
$color:#000;




